* {
    box-sizing: border-box;
 }
 @import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
 
 @font-face {
    font-family: 'MyFont';
    src: url(./fonts/OpenSans-Light.ttf) format('woff2'),
         url(./fonts/Roboto-Black.ttf) format('woff'),
         url(./fonts/OpenSans-Medium.ttf) format('woff'),
         url(./fonts/Roboto-Regular.ttf) format('woff'),
         url(./fonts/OpenSans_SemiCondensed-Medium.ttf) format('woff');
    font-weight: normal;
    font-style: normal;
}
body {
    
    background-color: #f0eeee;
    transition: background 0.2s linear;
    font-family: 'MyFont', sans-serif;
  
    
}
body.dark {
    background-color: #000000;
    color: rgb(196, 188, 188);
}
:root.dark-mode {
    --xanthous: rgb(21, 55,26);


}
body:has(dialog[open]) {
    overflow-y: hidden;
}
body.dark-mode {
    background-color: #1f1f1f;
    color: #ffffff;
}
header {
    
    /* background-color: #819882; */
    padding: 20px 40px;
    box-shadow: 0 4px 2px -2px gray;

}

.checkbox {
    opacity: 0;
    position: absolute;
  }
  .checkbox-icon {
   
    margin-left: 170px;
    

  }
  .checkbox-label {
    background-color: #111;
    width: 50px;
    height: 26px;
    border-radius: 50px;
    position: relative;
    padding: 5px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .fa-moon {color: #f1c40f;}

.fa-sun {color: #f39c12;}
.checkbox-label .ball {
    background-color: #fff;
    width: 22px;
    height: 22px;
    position: absolute;
    left: 2px;
    top: 2px;
    border-radius: 50%;
    transition: transform 0.2s linear;
  }
  .checkbox:checked + .checkbox-label .ball {
    transform: translateX(24px);
  }


/* button #toggleButton{
    padding: 0;
    font-size: 0;
    cursor: pointer;
    border: none;
    border-radius: 30px;
    background-color: none;
    outline: none;
    border-style: outset;
    display: inline-block;
    
   
 
} */
 #toggleButton{
    border-radius: 30px;
    border: 30px;
    cursor: pointer;
   
    
 }

.toggle-icon {
    color: rgb(15, 14, 14);
    font-size: 25px;
    
}

body.dark-mode .toggle-icon {
    color: #090a08;
}


.menu-box {
    /* max-width: 1200px; */
    /* margin: 0 auto; */
    /* padding: 0 20px; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
}

.shop-name {
    margin: 0;
    font-size: 24px;
    font-family:sans-serif;
    color: #e70b0b;
    font-weight:bold;
    
    
}

nav ul.menu {
    list-style-type: none;
    /* margin: 0px 106px -1px 0px; */
    display: flex;
    gap: 81px;
    text-align: justify;
    padding: 0px 123px 0px 139px ;
}

nav ul.menu li {
    display: inline;
}

nav ul.menu li a {
    color: #090808;
    text-decoration: none;
    font-size: 20px;
    padding: 5px 0;
    transition: color 0.3s ease, border-bottom 0.3s ease;
}


nav ul.menu li a.active,
nav ul.menu li a:hover {
    color: #e90b17;
    border-bottom: 2px solid #6b3924;
}
.search-box {
    display: flex;
    align-items: center;
    gap: 5px;
    padding-right: 170px;
}

.search-box input[type='text'] {
    padding: 5px;
    font-size: 12px;
    border: 1px solid #eee;
    border-radius: 5px;
}

.search.button {
    padding: 5px 10px;
    font-size: 16px;
    background-color: #f4f4f4;
    border: none;
    color: #ddd;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-box button:hover {
    background-color: #d7d4d0;
}
button #close-dialog {
    margin-left: 90px;
   
    
}
#close-dialog {
    display: flex;
    margin: auto;
}

/* Main Content Styles */
main {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    margin-left: auto;
    margin-right: auto;
    
    }

#front-image{
    margin: auto;
    height: 57vh;
    width: 140vh;
    background: #333;
    background-image: url(img/pizz.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 123px;
    display: flex;
    justify-content: center; 
    align-items: center;      
    position: relative;      

}
.day-food {
    color: white;
    max-width: 40%;
    margin-right: 650px;
}
.day-food h5{
   
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    margin-top: 12.5em;
    margin: 0;
    margin-top: 12.5rem;
    
}

.day-food p {
    font-size: 16px;
    margin-top: 1em;
    color: white;

}

.day-button {
    display: inline-block;
    margin-top: 1.5em;
    padding: 15px 30px;
    font-size: 1.2em;
    background-color: #ffa500; /* Button background color */
    color: white;
    text-decoration: none;
    border-radius: 25px;
    box-shadow: 0 4px 15px rgba(255, 165, 0, 0.5); /* Glowing effect */
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

/* Hover effect for button */
.day-button:hover {
    box-shadow: 0 6px 20px rgba(255, 165, 0, 0.8); /* Stronger glow */
    transform: translateY(-3px); /* Lift button up */
}


/* Grid System for Responsiveness */
[class*="col-"] {
    width: 100%;
}
@media only screen and (min-width: 600px) {
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}
.form-container img {
    
    margin-right: 10px;
    width: 20px; 
    height: 10px;
    display: block;
        
}
#show-dialog {
    /* width: 120px; */
    /* height: 30px; */
    /* margin-bottom: 350px; */
    /* margin-right: 400px; */
    /* margin-left: 600px; */
    margin: auto;
    

}


#show-dialog:hover {
    
    background-color: #b8ad9a;
}

[type="submit"] {
    width: 70px;
    height: 25px;
    margin: 10px auto 30px  ;
    padding: 0px;
    background-color: #b7d679;
    cursor:auto;
    transition: 0ms ease;
    background-color: 0.3s ease;
}

[type="submit"]:hover {
    background-color: #b8ad9a;
}

label, input{
    display: flex;
    padding: 8px;
    box-shadow: 0 0 10px rgb(rgb(206, 184, 184), rgb(198, 234, 198), blue) ;

  }
.soon{
    margin: auto;
    

  }
#hero-image {
    margin: auto;
    height: 48vh;
    
    background: #333;
    background-image: url(img/piz.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom-left-radius: 15%;
    border-bottom-right-radius: 123px;

}
.content-text {
    margin-bottom: 40px;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
    
}
#register-dialog {
    background-color: #dddfb5;
    border: none;
    border-radius: 20px;
}
/* .grid-container {
background-color: #eaedc5;
display: grid;
grid-template-columns: 200px 200px 200px 200px;

}
.grid-item {
background-color: #819882;
border: 1px solid darkmagenta ;

padding: 20px;

} */
.grid-container {
    display: grid;
    grid-template-columns: 500px 500px;
    grid-template-rows: 550px 400px;
    gap: 80px;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .grid-item {
    display: flex;
    background-color: rgba(245 245 245 / 80%);
    justify-content:end;
    align-items:flex-start;
    position: relative;
    border-radius: 30px;
    padding: 20px;
    margin-bottom: -53px

    
  }
  .grid-item img {
    width: 80px;
    height: 50px;
    position: relative;
    top: 75px;
    /* left: 9px; */
    right: 394px;
    z-index: 10;
}
  
  

  .grid-item h3 {
    font-family:Georgia, 'Times New Roman', Times, serif ;
    font-size: 20px;
    color: #282323;
 }
 .grid-item ul {
    list-style-type: none;
    margin-top: 40px;
 }
.grid-item li{
    list-style-type: none;
    font-size: 18px;
    margin-bottom: 30px;
    color: #282323;
    
}
.grid-item p {
    font-size: 12px;
    font-family: serif;
    margin-top: 10px;

}
.grid-item #show-more{
    background-color: #ffa500;
    color: white;
    text-decoration: none;
    box-shadow: 0 4px 15px rgb(238 99 99 / 50%);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    padding: 20px;
    margin-top: 500px;
    position: absolute;
    /* margin: 20px; */
    margin-right: 202px;
    margin-top: 524px;
    /* width: 116px; */
    height: 10px;
    padding-top: 6px;
    border-radius: 200px;
    border-style: none;
}
.grid-item #show-more:hover{
    background-color: #819882;
    box-shadow: 0 6px 8px rgba(217, 210, 210, 0.8);
    transform: translate(-3px);
    
}

.grid-item1 {
    display: flex;
    background-color: rgba(245 245 245 / 80%);
    justify-content:end;
    align-items:flex-start;
    position: relative;
    border-radius: 30px;
    padding: 7px;
    margin-bottom: -53px


 
  }
  .grid-item1 h3 {
    font-family:Georgia, 'Times New Roman', Times, serif ;
    font-size: 20px;
    color: #282323;
 }
 .grid-item1 ul {
    list-style-type: none;
    margin-top: 40px;
    
 }
.grid-item1 li{
    list-style-type: none;
    font-size: 18px;
    margin-bottom: 30px;
    color: #282323;
    
}
.grid-item1 p {
    font-size: 12px;
    font-family: serif;
    margin-top: 10px;

}
.grid-item1 img {
    width: 150px;
    height: 100px;
    /* position: relative; */
    top: 75px;
    left: 87px;
    /* right: 394px; */
    z-index: 10;
}
.grid-item1 #show-more{
    background-color: #ffa500;
    color: white;
    text-decoration: none;
    box-shadow: 0 4px 15px rgb(238 99 99 / 50%);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    padding: 20px;
    margin-top: 500px;
    position: absolute;
    /* margin: 20px; */
    margin-right: 202px;
    margin-top: 524px;
    /* width: 116px; */
    height: 10px;
    padding-top: 6px;
    border-radius: 200px;
    border-style: none;

}
.grid-item1 #show-more:hover{
    background-color: #819882;
    box-shadow: 0 6px 8px rgba(217, 210, 210, 0.8);
    transform: translate(-3px);
    
}

.grid-item2 {
    display: flex;
    background-color: rgba(245 245 245 / 80%);
    justify-content:end;
    align-items:flex-start;
    position: relative;
    border-radius: 30px;
    padding: 20px;
 
  }
  .grid-item2 h3 {
    font-family:Georgia, 'Times New Roman', Times, serif ;
    font-size: 20px;
    color: #282323;
 }
 .grid-item2 ul {
    list-style-type: none;
    margin-top: 40px;
 }
.grid-item2 li{
    list-style-type: none;
    font-size: 18px;
    margin-bottom: 30px;
    
    
}
.grid-item2 p {
    font-size: 12px;
    font-family: serif;
    margin-top: 10px;

}
.grid-item2 img {
    width: 80px;
    height: 50px;
    position: relative;
    top: 75px;
    /* left: 9px; */
    right: 394px;
    z-index: 10;
}
.grid-item2 #show-more{
    background-color: #ffa500;
    color: white;
    text-decoration: none;
    box-shadow: 0 4px 15px rgb(238 99 99 / 50%);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    padding: 20px;
    margin-top: 500px;
    position: absolute;
    /* margin: 20px; */
    margin-right: 202px;
    margin-top: 299px;
    /* width: 116px; */
    height: 10px;
    padding-top: 6px;
    border-radius: 200px;
    border-style: none;

}
.grid-item2 #show-more:hover{
    background-color: #819882;
    box-shadow: 0 6px 8px rgba(217, 210, 210, 0.8);
    transform: translate(-3px);
    
}
/* Responsive Layout for Smaller Screens */
@media (max-width: 767px) {
    .grid-container {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        gap: 20px;
    }

    nav ul.menu {
        flex-direction: column;
        gap: 15px;
        padding: 0;
    }

    .search-box input[type='text'] {
        width: 100px;
    }

    #front-image {
        width: 100%;
        height: 50vh;
    }
    

    header {
        padding: 10px;
    }

    .menu-box {
        flex-direction: column;
        align-items: flex-start;
    }

    .shop-name {
        font-size: 30px;
        font-family: 'MyFont', serif;
        ;
    }

    .grid-item img, .grid-item1 img, .grid-item2 img {
        width: 100%;
        height: auto;
        right: 0;
        top: 0;
    }

    .grid-item #show-more,
    .grid-item1 #show-more,
    .grid-item2 #show-more {
        position: static;
        margin: 10px auto;
        display: block;
    }
}

/* Footer Styles */
/* footer {
    margin-top: auto;
    padding: 20px;
    background-color: #f7f7f7;
} */
 footer{
    padding: 120px;
    /* margin-bottom: 106px; */
    /* justify-content: center; */
    text-align: center;
    border-radius: 10px;
    

 }

.footer-gap {
    background-color: #4b617b;
    height: 50px;
}

.footer-copyright {
    background-color: #0e13109c;
    color: #e9eff7;
    padding: 20px;
    text-align: center;
    font-size: 14px;
}

.footer-content img {
    width: 300px;
    border-radius: 50%;
}

.image-wrapper {
    position: absolute;
    margin-top: -280px;
    right: 280px;
}

.floating-img {
    width: 100px;
    height: auto;
    pointer-events: none;
    filter: blur(2px);
}


.footer-content {
    display: flex;
    margin: auto;
    padding: auto;
    text-align: justify;
    align-items: center;
    background-color: rgba(245 245 245 / 80%);
    border-radius: 27px;
    color: #282323;
    
}
.text-content p{
    padding: 10px;
    font-size: 16px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-right: 100px;
    margin-left: 100px;
    text-align: justify;
    
}
.footer-content .text-content {
    text-align: center;
}

.footer-content h2 {
    /* margin: 0 0 10px 0; */
    text-align: center;
    font-size: 24px;
    font-family: sans-serif;
    color: #e70b0b;
    font-weight: bold;
}

/* footer {
  margin-top: auto;
  padding: 20px;
  background-color: #eee;
} */
.footer-gap {
    background-color: #4b617b;
    height: 50px;

}
.footer-copyright {
    background-color: #d8eee19c;
    color: #000000;
    padding: 20px;
    text-align: center;
    font-size: 14px;
    border-radius: 20px;
}